body {
  background-color: rgb(10, 10, 10);
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  gap: 5rem;
  color: azure;
  animation: load 3s ease-in-out forwards;
}
.card {
  background-color: rgba(80, 77, 77, 0.292);
  width: 300px;
  height: auto;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 5px #dd40c3;
  transition: all 0.3s linear;
}

.card:hover {
  border-radius: 30px;
  background: linear-gradient(#e23cf1, #be20cc);
  box-shadow:
    0px 0px 10px #be20cc,
    0px 0px 30px #e23cf1,
    0px 0px 50px #f693ff;
}
.card h3 {
  font-size: 24px;
}
.card p {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(206, 206, 206);
}
.img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.img img:hover {
  transform: rotate(360deg);
}
@keyframes load {
  from {
    transform: translate(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
